extends layout
block content
    h1= title
    - let vehicleid = toShow._id
    - let vehicle_type = toShow.vehicle_type
    - let color = toShow.color
    - let price = toShow.price
    div.row(class='mb-2')
        div.mr-1 ID is
            div #{vehicleid}
    - let actionid = "/resource/vehicles/" + vehicleid
    form(id='VehicleForm', action= actionid, method="PUT")
        div.form-group
            label.vehicleAttr(for='vehicle_type') Vehicle type
            input#vehicle_type(type='text', name='vehicle_type', value= vehicle_type )
        div.form-group
            label.vehicleAttr(for='color') Vehicle size
            input#color(type='text', name='color', value= color )
        div.form-group
            label.vehicleAttr(for='price') Vehicle cost
            input#price(type='number', name='price', value= price )
        input(type="submit")
    script.
        document.forms['VehicleForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
            });
        });
